/*https://colorhunt.co/palette/cdf0eaf9f9f9f6c6eafaf4b7 - color pallette */
body {
  font-family: 'Merriweather', serif;
  margin: 0px;
  text-align: center;
}
h1 {
  color: #F9F9F9;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 3.125rem auto 0 auto;
}
h2 {
  color: #595959;
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
}
h3 {
  color: #555454;
}
p {
  color: #5F7161;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}
hr {
  border-color: grey;
  border-style: dotted none none;
  border-width: 10px;
  margin-bottom: 50px;
  opacity: 90%;
  width: 15%;
}
.contactClear{
  clear: right;
  margin-top: 0px;
}
.footer-link{
  color: #7c7c7ce4;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  text-decoration: none;
}
a:hover{
  color: #F9F9F9;
}
.contact-me {
  padding-bottom: 50px;
}
.postIntro{
  color: #6D8B74;
}
.skill-row {
  line-height: 2;
  margin: 50px auto 100px auto;
  text-align: left;
  width: 50%;
}
.middle-container{
  background-color: #F9F9F9;
  position: relative;
}
.footerz {
  padding-bottom: 25px;
  padding-top: 25px;
}
.bottom-container{
  background-color: #F6C6EA;
  color: white;
  position: relative;
}
.skillimg1 {
  float: left;
  margin-right: 30px;
  width: 25%;
}
.skillimg2 {
  float: right;
  margin-left: 30px;
  padding-bottom: 10px;
  width: 25%;
}
.skillRowText2 {
  text-align: right;
}
.btn {
  -moz-border-radius: 28;
  -webkit-border-radius: 28;
  background: #CDF0EA;
  border-radius: 28px;
  color: #ffffff;
  font-family: 'VT323', monospace;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #9dccc3;
  text-decoration: none;
}
#HelloDescription{
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 25px;
}
#tortol{
  color: #F9F9F9;
  font-size: 0.75rem;
  margin-top: 10px;
  padding-top: 10px;
}
#buttontop {
  padding-bottom: 20px;
}
#top-container {
  background-color: #CDF0EA;
  padding-top: 100px;
  position: relative;
}
#pro {
  text-decoration: underline;
}
#topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
#bottomCloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}
#top-container h2.typewritterEffect {
    display: flexbox;
    overflow: hidden;
    border-right: .15em solid #6D8B74;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; 
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6D8B74; }
}